/*
color palettes
Black:		0x000000	rgb(0, 0, 0)
White:		0xFFFFFF	rgb(255, 255, 255)
Grey:		0x808080	rgb(128, 128, 128)
hBlue:		0x002D72	rgb(0, 45, 114)
(old_Blue:	0x00119C	rgb(0, 17, 156))
*/



body
{
	background-color: #000000;
	//background-color: magenta;
	overflow-x: hidden;
	
	margin: auto;
	
}

.Homepage
{
	overflow-y: hidden;
}


.navigation
{
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000000;
	padding: 0%;
	
}


.navigation ul
{
	list-style-type: none;
	text-align: center;
	//font-size: 1.2em;
	font-size: 2vmin;
	font-family: quadon;
	
	padding: 0;
	
}

.navigation ul li
{

	display: inline;
}

.navigation ul li a
{
	
	text-decoration: none;
	
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	
	margin-left: 0.25%;
	margin-right: 0.25%;
	
	border: 2px solid #000000;
	
}

/* unvisited link */
.navigation ul li a:link {
    color: #FFFFFF;
	border-color: transparent;
}

/* visited link */
.navigation ul li a:visited {
    color: #FFFFFF;
	border-color: transparent;
}

/* mouse over link */
.navigation ul li a:hover {
    color: #FFFFFF;
	border: 2px solid #FFFFFF;
}

/* selected link */
.navigation ul li a:active {
    color: #B0B0B0;
	border: 2px solid #808080
	
}

/*current selection in navigation bar*/
.current_page
{
	background-color: #002D72;
}


.front_picture
{
	z-index: 1;
	position: absolute;
	height: 63%;	/*set relative picture size*/
	
	top: 50%;
	left: 50%;
	
}

.front_picture img
{
	max-width:100%;
	max-height:100%;
	margin: -50% 0 0 -50%;
	
	//border:1px solid #808080;
}

.site_title
{
	z-index: 1;
	position: absolute;
	height: 80%;
	width: 80%;
	
	margin: auto;
	
	top: 10%;	/*text vertical location*/
	left: 10%;
}



.site_title p
{
	color: #FFFFFF;
	font-family: quadon;
	text-align: center;
	font-size: 10vmin;
	
	margin: 0;
}

